.container {
    display: flex;
    flex-flow: row wrap;
    text-align: left;
}

.container > * {
    flex: 1 100%;
}

.header {
    background: #4fc0ff;
    font-size: 2em;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 10px;
}

#map {
    height: 80vh;
    width: 100vw;
    border-radius: 3px;
}

.filter-section {
    max-width: auto;
    background: #b3dde5;
    border: 1px solid #999;
    border-radius: 3px;
}

.filter-text {
    font-size: 1.1em;
    text-align: left;
    width: auto;
    background: #ebf2fb;
    padding: 5px 10px;
    margin: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: 0;
}

.places-list-items {
    list-style: none;
    line-height: 1.6em;
    cursor: pointer;
}

#pano {
    width: 200px;
    height: 200px;
}

.footer {
    background: #5b6678;
    color: white;
    text-align: right;
    border-radius: 3px;
    font-weight: bold;
    font-size: .8em;
    padding: 10px;
}

@media all and (min-width: 600px) {
    .aside { flex: 1 auto; }
    .filter-section { max-width: 300px; }
}

@media all and (min-width: 800px) {
    .filter-section { order: 1; }
    #map    { order: 2; }
    #map    { flex: 3 0px; }
    .footer  { order: 4; }
}
